#this is for cuda
# --extra-index-url https://download.pytorch.org/whl/cu121
# torch
# torchvision
# torchaudio
# transformers
# accelerate
# sentence-transformers
# faiss-cpu
# PyYAML
# this is for amd cluster
# requirements.txt

--extra-index-url https://download.pytorch.org/whl/rocm6.0
torch
torchvision
torchaudio
transformers
accelerate
sentence-transformers
faiss-cpu
PyYAML